/* @override 
	http://cleaningserviceathensga.com/sites/all/themes/prolifik/css/prolifik-base.css?mdy6g2
	http://cleaningserviceathensga.com/sites/all/themes/prolifik/css/prolifik-base.css?mdy7bx
	http://cleaningserviceathensga.com/sites/all/themes/prolifik/css/prolifik-base.css?mdy7sm */


/* This file will hold the main styles for your website. */
body {
	background-color: #c1c2c4;
}

/* @group User Bar */
#region-user-first {
  position: fixed;
  z-index: 9999;
  width: 95%;
}

div.social {
	display: block;
}

/* @end */

#block-block-4 div.content span.phone {
	font-size: 30px;
	margin-right: 10px;
	position: relative;
	bottom: 8px;
	z-index: 999;
}

#block-block-4 {
	text-align: center;
}


/* Links */
a, a:link {
  text-decoration: none;
}
a, a:link, a:visited, a:active {
  color: #9b3b92;
}
a:hover {
  text-decoration: underline;
}

/* Headers */
body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  border-color: #D4D4D4;
  color: #9b3b92;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1em;
}

body > #page h1#page-title {
  color: #9b3b92;
}

/* Admin Menu */
#admin-menu {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}

/* Drupal */
#messages .messages {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Page */
#page {
  position: relative;
}

/* Blocks */
.block .content {
  color: #626262;
}
.block .content li {
  margin-left: 2em;
}
.block .content .item-list li {
  margin: 0;
}

/* Sidebar */
#region-sidebar-first div.block-title,
#region-sidebar-second div.block-title {
}
#region-sidebar-first .block:first-child div.block-title {
  margin-top: 0;
}

.boxes-box-controls ul {
  margin: 0;
}

/* Content */

ul.tabs {
  *padding-top: 1px;
}

div.image-left a img, div.left img {
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

img.left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

#block-block-2 div.content div div {
	color: white;
}

/* @group Quicktabs */

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li.active {
	font-weight: bold;
}

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li {
	  background: rgb(242,237,237); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMiUiIHN0b3AtY29sb3I9IiNmMmVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNkM2NmZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(242,237,237,1) 32%, rgba(211,207,208,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,rgba(242,237,237,1)), color-stop(99%,rgba(211,207,208,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* IE10+ */
background: linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eded', endColorstr='#d3cfd0',GradientType=0 );

}


ul.quicktabs-tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 1%;
  white-space: nowrap;
	border-top: thin solid #CACCCB;
	border-right: thin solid #CACCCB;
}

ul.quicktabs-tabs li a {
	color: #253690;
}


/* @end */

#region-menu nav.navigation ul.menu li.leaf {
	display: block;
}

span.cleaningservices {
	font-weight: bold;
}

.weak {
	font-weight: normal;
	font-style: normal;
}

#block-block-5 p {
	color: #a54299;
	font-size: 2em;
	text-align: center;
}


/* @group FPSS */

#block-views-fpss-block {
width: 100%;height: auto;position: relative;overflow: visible;margin-bottom: 10px;
}

#block-views-fpss-block img {
width: 100%; height: auto;
}

#block-views-fpss-block div.slide-markup {
	text-align: center;
	line-height: 1em;width: 100%;
	font-size: 1.5em;
background-image: url(../images/transparent-65.png);
color: white;
padding-bottom: 5px;
-webkit-border-bottom-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
position: relative;
z-index: 999;
padding-top: 6px;
}

#block-block-1 {
	text-align: center;
}

span.businessname {
	font-weight: bold;
}

img.center {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#block-block-3 img{width: 100%; max-width: 270px;}

#block-webform-client-block-2 {
	padding: 10px;
border-radius: 10px;
	background: no-repeat black;
	-moz-box-shadow: inset 0 1px 14px #b4b4b4;
	-webkit-box-shadow: inset 0 1px 14px #b4b4b4;
	box-shadow: inset 0 1px 14px #b4b4b4;
}

#webform-component-tab {
	background: url(../images/form-tab.png) no-repeat 98px;
	position: relative;
	height: 58px;
	margin-top: -62px;
}

#block-webform-client-block-2 div.block-title {
background: url(../images/form-tab.png) no-repeat center 0;
overflow: visible;
position: relative;
z-index: 99;
bottom: 16px;
padding-bottom: 2px;
padding-top: 5px;
}

ul {
list-style-image: url(../images/bullet.png) ;
}


#block-webform-client-block-2 div.block-title h2.block-title div.text {
	font-size: 18px;
	color: black;
	text-transform: capitalize;
}

#webform-component-message div.grippie {
	display: none;
}

#block-webform-client-block-2 #edit-submit {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 50%;
	-moz-box-shadow: inset 0 0 13px #544e4e;
	-webkit-box-shadow: inset 0 0 13px #544e4e;
	box-shadow: inset 0 0 13px #544e4e;
	border-style: none;
}

#webform-component-tab p {
	display: none;
}
/* @end */

#block-views-services-block .views-field-title {
	text-align: center;
	background-color: #9a3a92;
	margin-top: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 7px;
}
#block-views-services-block .views-field-title a {
	color: white;
}

#block-views-services-block {
	margin-bottom: 30px;
}

#block-system-main .view-testimonials.view-id-testimonials div.views-row {border-bottom: 1px solid #9a3a92;
	margin-top: 10px;
}

#block-views-services-block div.block-title h2.block-title div.text {
	border-bottom: 1px solid rgba(0, 0, 0, 0.59);
	padding-bottom: 6px;
}

.node-type-service div.field.field-name-field-image.field-type-image img {width: 100%;height: auto;
	margin-bottom: 10px;
}

.node-type-service h1#page-title {
	text-align: center;
	margin-bottom: 0;
}
#block-block-6 {text-align: center;}
#block-block-6 img {margin-right: 10px;max-height: 95px;
}