/* @override 
	http://cleaningserviceathensga.com/sites/all/themes/prolifik/css/prolifik-alpha-default-narrow.css?mdy4n5
	http://cleaningserviceathensga.com/sites/all/themes/prolifik/css/prolifik-alpha-default-narrow.css?mdy57d
	http://cleaningserviceathensga.com/sites/all/themes/prolifik/css/prolifik-alpha-default-narrow.css?mdy5o5 */


/* This file will hold styles that are loaded using the same media query as the narrow grid. */

#region-menu nav.navigation ul.menu li.leaf {
	display: inline;
	float: left;
}

/* User */
#region-user-first {
  width: 70%;
  margin-left: 10%;
}

#region-user-second {
	width: 95%;
}

/* Search Form */
#block-search-form {
  margin: 0 auto auto 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 25px;
  width: 300px;
  z-index: 1;
}

div.social {
	display: inline;
}
#region-branding .region-inner {
	padding: 0;
}
  
#block-block-5 p {
font-size: 2 em;
margin-bottom: 5px;
}

#block-views-fpss-block {
	width: 100%;
	height: auto;
	position: relative;
	bottom: 20px;
	overflow: visible;
}

#block-block-1 {
	text-align: left;
}
#section-content .zone-wrapper .zone .region-inner {
  padding: 10px;
}

#webform-component-tab {
	background: url(../images/form-tab.png) no-repeat 18px;
}